.scroll-to-top {
    position: fixed;
    bottom: 1.2rem;
    right: 0;
    color: black;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scroll-to-top.visible {
    opacity: 1;
  }
  