.home{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 100vh;
    max-width: 50rem;
  }

  .link-container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:30rem;
  }
  
  .links{
    max-width: 50rem;
    width: 100%;
    height: 6.5rem;
    border-radius: 1.875rem;
    color: #F0F2F6;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    cursor: pointer;
    background-image: url("/pokeball.png");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: 117% center ; 
    overflow: hidden;
    font-size: 1.7rem;
    padding-left:10px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: background-position 0.3s ease;
  }

  .links:hover{
    background-position: 110% center;
    
  }

  .links.pokedex{
    background-color: #159F6E ;
  }
  
  .links.moves{
    background-color: #E4362B ;
    margin: 0px;
  }
  
  .links.items{
    background-color: #F7A61B ;
  }
  
  .links.abilities{
    background-color: #40A0CD ;
  }
  
  h1{
    text-align: left;
    margin: 0
  }

@media screen and (min-width: 640px) {
  .links{
    height: 7.5rem;
    background-size: 13rem;
  }
}

@media screen and (min-width: 768px) {

  .home{
    margin: 0 auto;
  }

  .link-container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    height: 35rem;
  }

}

