
  .item-category-container{
    position: absolute;
    right: 1rem;
  }
  
  .item-category{
    font-weight: 700;
    color: grey;
    margin-left: 0.5rem;
  }
  
  .item-datas{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    width: 22rem;
  }
    
  .item-datas > p {
    margin: 0.5rem 0;
  }
  
  .cost-container{
    display: flex;
    align-items: center;  
    max-width: 8rem;
  }
  
  .pokedollar{
    width: 0.7rem;
    height: 1rem;
    margin-left: 0.5rem;
  }
  
  .item-image-container{
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

